.projetos__caixa{
   display: flex;
   flex-direction: column;
   width: 250px;
   background-color: #151515;
   border: 2px solid #1f1f1f;
   margin-right: 15px;
   margin-bottom: 35px;
   align-items: center;  
   padding: 15px; 
   transition: border-color 1s;
}

.projetos__caixa:hover{
   border-color: #701d78;
}